.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
    position: center;
    margin:24px;
   
   

}

.App-header {
  background-color: #FFF;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pozaAlin {
    position: absolute;
    top: 8px;
    right: 16px;
    margin-top: 10px;
    width: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100px;
}

.social-media-logos {
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top:8px;
}

.buttonGroup {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width:100%;
   
}
.button1{
    right:-30px;
    left:-30px;
}
.button2 {
    right: 25px;
    left: 25px;
}

.Logo {
    background-image: url(./images/logo.png);
    
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
  text-shadow: 0px 0px 2px rgb(0, 255, 34);
  color: rgb(0, 255, 34);
}

.red {
  position: center;
  text-shadow: 0px 0px 2px rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.title{
  position: center;
  text-shadow: 0px 0px 1px #FFF;
  color: #FFF
}
